.hero{
    background: linear-gradient(300deg, #1d9ec9, #48b8e0, #d0ff78);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}
.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}

.skills{
    background: linear-gradient(300deg, #1d9ec9, #48b8e0, #d0ff78);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}
